<div class="footer">
  <div class="container d-flex">
    <div class="modulo">
      <h3>Comprar con Confianza</h3>
      <ul>
        <li><a href="#">Cómo comprar</a></li>
        <li><a href="#">Guia de Tallas</a></li>
        <li><a href="#">Politica de entregas</a></li>
        <li><a href="#">cambios y Devoluciones</a></li>
      </ul>
    </div>

    <div class="modulo">
      <h3>Acerca de MarkAir</h3>
      <ul>
        <li><a href="#">Quienes somos?</a></li>
        <li><a href="#">Nuestras Tiendas</a></li>
        <li><a href="#">Preguntas Frecuentes</a></li>
        
      </ul>
    </div>

    <div class="modulo">
      <h3>Siguenos y Ubicanos</h3>
      <ul class="d-flex">
        <li class="m-2"><a href="#"><i class="fab fa-instagram-square fa-2x"></i></a></li>
        <li class="m-2"><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
        <li class="m-2"><a href="#"><i class="fab fa-whatsapp-square fa-2x"></i></a></li>
      </ul>
      <p>Dirección:</p>
      <p>
        Jr. Leticia 673, Cercado de Lima 15001
      </p>
      
    </div>

    <div class="modulo">
      <h3 class="text-center">Medios de Pago</h3>
      <div class="d-flex">
        <span ><img class="w-2 h-2" src="../../../../assets/img/mercadopago.png" alt="mercado pago"></span>
        <span ><img class="w-2 h-2" src="../../../../assets/img/culqui3.png" alt="mercado pago"></span>
      </div>
    </div>
  </div>
</div>