#carouselExampleCaptions {
   margin: 10px ;
   max-height: 20%;
   width: auto;

}

.carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.carousel-control-next {
    color: #000;
}