<div class="header">

    <div class="costado">
        <span></span>
    </div>
    <div class="centro">
        <div class="logo">
        <img src="../../../../assets/img/logo.jpg" alt="">
        </div>
        <div class="navegacion">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Ventas al por Mayor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Lo mas exclusivo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Hombres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mujeres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Niños</a>
                </li>
             
            </ul>
        </div>
    </div>
    <div class="costado">
        <span></span>
    </div>
</div>
