<div class="container d-flex flex-row justify-content-between">
    <div class="card " style="width: 18rem;">
        <img src="../../../../assets/img/niños.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text text-center">NIÑOS</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../../../assets/img/mujeres.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text text-center">MUJERES</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../../../assets/img/hombres.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text text-center">HOMBRES</p>
        </div>
      </div>
</div>